---
import BaseLayout from '../layouts/BaseLayout.astro';
import FaqSection from '../components/Faq.astro';

const pageTitle = "Frequently Asked Questions";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <!-- hero -->
  <FaqSection />
</BaseLayout>