---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 2rem;
    align-items: center;
  }

  .socials {
    display: flex;
    gap: 1rem;
  }
</style>

<footer>
  <h2>Follow Us</h2>
  <div class="socials">
    <Social platform="facebook" username="profile.php?id=61550318662353" />
    <Social platform="instagram" username="mapstourbuses" />
  </div>
</footer>