---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import Logo from './Logo.astro'

const { lang = "en" } = Astro.props;
---
<header>
  <nav>
    <div>
      <Logo />
      <!-- <ThemeIcon /> -->
      <Menu />
    </div>
    <br>
    <Navigation lang={lang} />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
</style>