---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import Logo from './Logo.astro'

---
<header>
  <nav>
    <div>
      <Logo />
      <!-- <ThemeIcon /> -->
      <Menu />
    </div>
    <br>
    <Navigation />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>