---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import Logo from './Logo.astro'
import Phone from './Phone.astro'

---
<header>
  <nav>
    <div>
      <Logo />
      <!-- <ThemeIcon /> -->
      <Menu />
    </div>
    <br>
    <Navigation />
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }

  .phone {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }

  .phone svg {
    width: 28px;
    height: 28px;
    fill: currentColor;
    display: block;
  }
</style>