---
---
<a id="header-logo" aria-label="Logo">
    <img src="/maps-tour-buses-logo.png" alt="Map's Tour Buses logo" />
</a>

<style>
    #header-logo img {
    max-height: 66px;
    width: auto;
    }

    @media (min-width: 768px) {
    #header-logo img {
        max-height: 72px;
    }
    }
</style>