---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Contacto";
---

<BaseLayout pageTitle={pageTitle} lang="es">
  <p>
    ¿Tiene preguntas o necesita una cotización para su próximo viaje?
    Comuníquese con nosotros utilizando la información a continuación.
    Con gusto le ayudaremos a planear su viaje.
  </p>

  <h2>Teléfono</h2>
  <ul class="contact-list">
    <li>
      <a href="tel:+19568975416">(956) 780-9501</a> - Flor Perales
    </li>
    <li>
      <a href="tel:+19567809501">(956) 780-9502</a> - Fidencio Perales
    </li>
  </ul>

  <h2>Correo Electrónico</h2>
  <p>
    <a href="mailto:mapstourbusesllc@gmail.com">
      mapstourbusesllc@gmail.com
    </a>
  </p>
</BaseLayout>